:root {
  --blue-bg-color: linear-gradient(0deg,#0087ff,#85f9ff);;
  --yellow-bg-color: linear-gradient(0deg,#ff7a52,#ffe366);
  --lightGrey-bg-color: #f2f2f2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


