.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  border-radius: 50%;
}

.navbar-light .navbar-brand {
  color: #B22222;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar {
  margin-bottom: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #B22222;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
